<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--顶部条-->
<div class="navbar navbar-fixed-top"  th:fragment="top-bar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">BootAdmin</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i>[[${session.username}]]<i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">个人资料</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="login.html">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">设置 <b class="caret"></b>

                        </a>
                        <ul class="dropdown-menu" id="menu1">
                            <li>
                                <a href="#">工具 <i class="icon-arrow-right"></i>

                                </a>
                                <ul class="dropdown-menu sub-menu">
                                    <li>
                                        <a href="#">报表</a>
                                    </li>
                                    <li>
                                        <a href="#">日志</a>
                                    </li>
                                    <li>
                                        <a href="#">错误</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">SEO设置</a>
                            </li>
                            <li>
                                <a href="#">其他链接</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">其他链接</a>
                            </li>
                            <li>
                                <a href="#">其他链接</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">内容 <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">博客</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">新闻</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">定制页面</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">日历</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="#">答疑</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">用户 <i class="caret"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">用户列表</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">搜索</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">权限</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!--左边条-->
<div class="span2" id="sidebar" th:fragment="side-bar">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li class="active">
            <a href="main.html"><i class="icon-chevron-right"></i> 首页</a>
        </li>
        <li>
            <a href="calendar.html"><i class="icon-chevron-right"></i> 日历</a>
        </li>
        <li>
            <a href="stats.html"><i class="icon-chevron-right"></i> 统计图表</a>
        </li>
        <li>
            <a href="form.html"><i class="icon-chevron-right"></i> 表单</a>
        </li>
        <li>
            <a href="tables.html"><i class="icon-chevron-right"></i> 表格</a>
        </li>
        <li>
            <a href="buttons.html"><i class="icon-chevron-right"></i> 按钮 & 图标</a>
        </li>
        <li>
            <a href="editors.html"><i class="icon-chevron-right"></i> 编辑器</a>
        </li>
        <li>
            <a href="interface.html"><i class="icon-chevron-right"></i> UI界面</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-success pull-right">731</span> 订单</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-success pull-right">812</span> 清单</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">27</span> 客户</a>
        </li>
        <li>
            <a href="/employee"><span class="badge badge-info pull-right">1,234</span> 用户</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">2,221</span> 消息</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-info pull-right">11</span> 报告</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-important pull-right">83</span> 错误</a>
        </li>
        <li>
            <a href="#"><span class="badge badge-warning pull-right">4,231</span> 日志</a>
        </li>
    </ul>
</div>
</body>
</html>